pymongo
asgiref
Django
django-extensions
django-environ
django-filter
djangorestframework
djangorestframework-jsonapi
django-cors-headers
inflection
python-dotenv
pytz
sqlparse
tzdata
mysqlclient
PyMySQL
python-dotenv
gunicorn

